
<h2>Vehicle Details</h2>
<p class="lead">Welcome to AutoTracker. Click <button class="btn btn-primary" (click)="onClick()">Get Vehicles</button> to know all the vehicles available with AutoTracker.</p>

<table class="table table-hover">
  <thead >
    <tr class="table-head" >
      <th>Vin</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Red Line RPM</th>
      <th>Max Fuel Volume</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of auto">
      <th scope="row">{{car.vin}}</th>
      <td>{{car.make}}</td>
      <td>{{car.model}}</td>
      <td>{{car.year}}</td>
      <td>{{car.redlineRpm}}</td>
      <td>{{car.maxFuelVolume}}</td>
    </tr>
  </tbody>
</table>
