

<div class="row">
  <div class="col-xs-4">
    <p>Click <button class="btn btn-primary" (click)="onGetHistorical()">Get Alerts</button> to get all historical alerts.</p>
  </div>
  <div class="col-xs-8">
    <p>Click <button class="btn btn-primary" (click)="onGetPeriod()">Get Alerts</button> to get all high alerts in last 2 Hours.</p>
    <div class="row">
      <div class="col-xs-9">
        <table class="table table-hover">
          <thead >
          <tr class="table-head" >
            <th>Vin</th>
            <th>Time Stamp</th>
            <th>Message</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let alert of alerts">
            <th scope="row">{{alert.alertVin}}</th>
            <td>{{alert.alertTimeStamp * 1000 | date:'fullDate' }}</td>
            <td>{{alert.alertMessage}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-3">
        <h1 class="text-center">{{alerts.length}}</h1>
        <p class="text-center">High Alerts</p>
        <h6 class="text-center">(2 Hours)</h6>
      </div>
    </div>

  </div>
</div>
