
<div class="container text-center video">
  <video autoplay loop id="video-background" muted plays-inline>
    <source src="/assets/videos/New-York-Jam.mp4" type="video/mp4">
  </video>
  <h1 ><strong>AutoTracker</strong></h1>
  <p><em>One place to know every thing about our vehicles.</em></p>
  <p>Find: <button class="btn btn-danger" [routerLink]="['/maps']"><strong>LOCATION</strong></button> ,
    <button class="btn btn-danger" [routerLink]="['/graphs']"><strong>PERFORMANCE</strong></button> ,
    <button class="btn btn-danger" [routerLink]="['/alerts']"><strong>ALERTS</strong></button></p>
</div>
<div class="container-fluid">
  <div class="row info">
    <div class="col-xs-6">


    <div class="col-xs-6">

    </div>




  </div>
</div>
